{% extends 'base.html' %}
{% block content %}
    <h1>{{ article.title }}</h1>
    {% if article.image %}
        <img class="img-thumbnail" src="{{ article.image.url }}" alt="">
    {% endif %}
    <p>{{ article.text }}</p>
    {% if article.user %}
        <div class="text-end">
            <div class="author">
                {% if article.user.image %}
                    <span class="avatar">
                        <img src="{{ article.user.image_thumbnail.url }}" alt="">
                    </span>
                {% endif %}
                <span class="author-name"><b>{{ article.user.first_name }} {{ article.user.last_name }}</b></span>
            </div>
        </div>
    {% endif %}
    <p>
        {% for tag in article.tags.all %}
            <a href="{% url 'tag_article_list' tag_id=tag.id %}">#{{ tag.name }}</a>
        {% endfor %}
    </p>
    <hr>
    <p>
        <b>Дата</b>: {{ article.created_at }} <br>
        <b>Категория</b>: {{ category.name }} <br>
    </p>
{% endblock %}